#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BTN_IT 3
#define BTN_MT 2
#define BTN_RT 1
#define BTN_PT 0

#define BTN_IB 7
#define BTN_MB 6
#define BTN_RB 5
#define BTN_PB 4

#define COMBO(LAYERS, NAME, KEYS, BINDINGS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    layers = <LAYERS>; \
    key-positions = <KEYS>; \
    bindings = <BINDINGS>; \
  };

#define BASE_LAYER_ID 0
#define SYMBOL_LAYER_ID 1
#define MOVE_LAYER_ID 2
#define BLUETOOTH_LAYER_ID 3

/ {
  keymap {
    compatible = "zmk,keymap";
    base_layer {
      bindings = <
        &kp S &kp T &kp R &kp A
        &kp O &kp I &kp Y &kp E
      >;
    };
    symbol_layer {
      bindings = <
        &kp NUMBER_3 &kp NUMBER_2 &kp NUMBER_1 &kp NUMBER_0
        &kp NUMBER_7 &kp NUMBER_6 &kp NUMBER_5 &kp NUMBER_4
      >;
    };
    move_layer {
      bindings = <
        &kp LC(LEFT_ARROW) &kp LC(DOWN_ARROW) &kp LC(UP_ARROW) &kp LC(RIGHT_ARROW)
        &kp LEFT_ARROW     &kp DOWN_ARROW     &kp UP_ARROW     &kp RIGHT_ARROW
      >;
    };
    bluetooth_layer {
      bindings = <
        &none        &none        &none        &none
        &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0
      >;
    };
  };
};

/ {
  combos {
    compatible = "zmk,combos";

    // Return to base layer from everywhere
    COMBO(SYMBOL_LAYER_ID MOVE_LAYER_ID BLUETOOTH_LAYER_ID, layer_base, BTN_IB BTN_RT, &to BASE_LAYER_ID)

    // Add modifiers to base and symbol layers
    COMBO(BASE_LAYER_ID SYMBOL_LAYER_ID, control, BTN_PT BTN_IB,               &sk LEFT_CONTROL)
    COMBO(BASE_LAYER_ID SYMBOL_LAYER_ID, gui,     BTN_PT BTN_MB,               &sk LEFT_GUI)
    COMBO(BASE_LAYER_ID SYMBOL_LAYER_ID, alt,     BTN_PT BTN_RB,               &sk LEFT_ALT)
    COMBO(BASE_LAYER_ID SYMBOL_LAYER_ID, shift,   BTN_MT BTN_RT BTN_PT BTN_IB, &sk LEFT_SHIFT)

    // Add shift toggle to base, symbol, and move layers
    COMBO(BASE_LAYER_ID SYMBOL_LAYER_ID MOVE_LAYER_ID, shift_toggle, BTN_MT BTN_MB, &kt RIGHT_SHIFT)

    // Base layer
    ////////////////////

    COMBO(BASE_LAYER_ID, b, BTN_IB BTN_PB,        &kp b)
    COMBO(BASE_LAYER_ID, c, BTN_IB BTN_MB,        &kp c)
    COMBO(BASE_LAYER_ID, d, BTN_IT BTN_MT BTN_RT, &kp d)
    COMBO(BASE_LAYER_ID, f, BTN_IT BTN_MT,        &kp f)
    COMBO(BASE_LAYER_ID, g, BTN_MT BTN_RT,        &kp g)
    COMBO(BASE_LAYER_ID, h, BTN_IB BTN_RB,        &kp h)
    COMBO(BASE_LAYER_ID, j, BTN_RT BTN_PT,        &kp j)
    COMBO(BASE_LAYER_ID, k, BTN_MB BTN_PB,        &kp k)
    COMBO(BASE_LAYER_ID, l, BTN_IB BTN_MB BTN_RB, &kp l)
    COMBO(BASE_LAYER_ID, m, BTN_MB BTN_RB BTN_PB, &kp m)
    COMBO(BASE_LAYER_ID, n, BTN_RB BTN_PB,        &kp n)
    COMBO(BASE_LAYER_ID, p, BTN_IB BTN_RB BTN_PB, &kp p)
    COMBO(BASE_LAYER_ID, q, BTN_IT BTN_RT BTN_PT, &kp q)
    COMBO(BASE_LAYER_ID, u, BTN_MB BTN_RB,        &kp u)
    COMBO(BASE_LAYER_ID, v, BTN_MT BTN_PT,        &kp v)
    COMBO(BASE_LAYER_ID, w, BTN_IT BTN_PT,        &kp w)
    COMBO(BASE_LAYER_ID, x, BTN_MT BTN_RT BTN_PT, &kp x)
    COMBO(BASE_LAYER_ID, z, BTN_IT BTN_PT,        &kp z)

    COMBO(BASE_LAYER_ID, apostrophe, BTN_IT BTN_MB BTN_RB, &kp APOSTROPHE)
    COMBO(BASE_LAYER_ID, period,     BTN_IT BTN_MB,        &kp PERIOD)
    COMBO(BASE_LAYER_ID, colon,      BTN_IT BTN_RB,        &kp COLON)
    COMBO(BASE_LAYER_ID, question,   BTN_IT BTN_PB,        &kp QUESTION)

    COMBO(BASE_LAYER_ID, space,     BTN_IB BTN_MB BTN_RB BTN_PB, &kp SPACE)
    COMBO(BASE_LAYER_ID, enter,     BTN_IT BTN_IB,               &kp ENTER)
    COMBO(BASE_LAYER_ID, escape,    BTN_IT BTN_MT BTN_PB,        &kp ESCAPE)
    COMBO(BASE_LAYER_ID, tab,       BTN_IT BTN_MT BTN_RT BTN_PB, &kp TAB)
    COMBO(BASE_LAYER_ID, backspace, BTN_MT BTN_IB,               &kp BACKSPACE)
    COMBO(BASE_LAYER_ID, delete,    BTN_MT BTN_RB,               &kp DELETE)

    COMBO(BASE_LAYER_ID, layer_symbol,    BTN_IT BTN_RT, &sl SYMBOL_LAYER_ID)
    COMBO(BASE_LAYER_ID, layer_move,      BTN_IT BTN_RT, &to MOVE_LAYER_ID)
    COMBO(BASE_LAYER_ID, layer_bluetooth, BTN_RT BTN_RB, &sl BLUETOOTH_LAYER_ID)

    // Symbol layer
    ////////////////////

    COMBO(SYMBOL_LAYER_ID, 8, BTN_IT BTN_MT, &kp 8)
    COMBO(SYMBOL_LAYER_ID, 9, BTN_IB BTN_MB, &kp 9)

    COMBO(SYMBOL_LAYER_ID, plus,     BTN_IB BTN_RB BTN_PB,        &kp plus)
    COMBO(SYMBOL_LAYER_ID, asterisk, BTN_IT BTN_RT BTN_PT,        &kp asterisk)
    COMBO(SYMBOL_LAYER_ID, minus,    BTN_IB BTN_MB BTN_RB,        &kp minus)
    COMBO(SYMBOL_LAYER_ID, equals,   BTN_MB BTN_RB BTN_PB,        &kp equals)
    COMBO(SYMBOL_LAYER_ID, caret,    BTN_IT BTN_MT BTN_RT BTN_PT, &kp caret)

    COMBO(SYMBOL_LAYER_ID, left_parenthesis,     BTN_RT BTN_PT,        &kp left_parenthesis)
    COMBO(SYMBOL_LAYER_ID, right_parenthesis,    BTN_MT BTN_RT,        &kp right_parenthesis)
    COMBO(SYMBOL_LAYER_ID, left_curly_bracket,   BTN_RB BTN_PB,        &kp left_curly_bracket)
    COMBO(SYMBOL_LAYER_ID, right_curly_bracket,  BTN_PB BTN_MB,        &kp right_curly_bracket)
    COMBO(SYMBOL_LAYER_ID, left_square_bracket,  BTN_MT BTN_PT,        &kp left_square_bracket)
    COMBO(SYMBOL_LAYER_ID, right_square_bracket, BTN_IT BTN_RT,        &kp right_square_bracket)
    COMBO(SYMBOL_LAYER_ID, left_angle_bracket,   BTN_MB BTN_PB,        &kp left_angle_bracket)
    COMBO(SYMBOL_LAYER_ID, right_angle_bracket,  BTN_IB BTN_RB,        &kp right_angle_bracket)
    COMBO(SYMBOL_LAYER_ID, forward_slash,        BTN_IT BTN_MT BTN_RT, &kp forward_slash)
    COMBO(SYMBOL_LAYER_ID, backward_slash,       BTN_MT BTN_RT BTN_PT, &kp backward_slash)

    COMBO(SYMBOL_LAYER_ID, vertical_bar, BTN_IB BTN_PB,               &kp vertical_bar)
    COMBO(SYMBOL_LAYER_ID, quote,        BTN_IT BTN_MB BTN_RB,        &kp quote)
    COMBO(SYMBOL_LAYER_ID, comma,        BTN_IT BTN_MB,               &kp comma)
    COMBO(SYMBOL_LAYER_ID, semicolon,    BTN_IT BTN_RB,               &kp semicolon)
    COMBO(SYMBOL_LAYER_ID, exclamation,  BTN_IT BTN_PB,               &kp exclamation)
    COMBO(SYMBOL_LAYER_ID, grave,        BTN_IT BTN_MT BTN_RT BTN_PB, &kp grave)
    COMBO(SYMBOL_LAYER_ID, tilde,        BTN_RT BTN_RB,               &kp tilde)
    COMBO(SYMBOL_LAYER_ID, at,           BTN_IT BTN_MT BTN_PB,        &kp at)
    COMBO(SYMBOL_LAYER_ID, pound,        BTN_IT BTN_IB,               &kp pound)
    COMBO(SYMBOL_LAYER_ID, dollar,       BTN_MT BTN_IB,               &kp dollar)
    COMBO(SYMBOL_LAYER_ID, percent,      BTN_MT BTN_RB,               &kp percent)
    COMBO(SYMBOL_LAYER_ID, ampersand,    BTN_IT BTN_PT,               &kp ampersand)
    COMBO(SYMBOL_LAYER_ID, underscore,   BTN_IB BTN_MB BTN_RB BTN_PB, &kp underscore)

    // Move layer
    ////////////////////

    COMBO(MOVE_LAYER_ID, page_down, BTN_MB BTN_RB, &kp PAGE_DOWN)
    COMBO(MOVE_LAYER_ID, page_up,   BTN_MT BTN_RT, &kp PAGE_UP)
    COMBO(MOVE_LAYER_ID, home,      BTN_RB BTN_PB, &kp HOME)
    COMBO(MOVE_LAYER_ID, end,       BTN_IB BTN_MB, &kp END)

    // Bluetooth layer
    ////////////////////

    COMBO(BLUETOOTH_LAYER_ID, output_wire, BTN_IT BTN_MT BTN_RT BTN_PT, &bt BT_CLR)

  };
};
