#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define KEY_IT 3
#define KEY_MT 2
#define KEY_RT 1
#define KEY_PT 0

#define KEY_IB 7
#define KEY_MB 6
#define KEY_RB 5
#define KEY_PB 4

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp S &kp T &kp R &kp A
                &kp O &kp I &kp Y &kp E
            >;
        };
    };
};

